<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="Login.css"/>
</head>

<body>
<div class="Login">
    <h1> Welcome to MSPaintr! </h1>

<br>

<div class="Login-Box">
    <div class="Logo">
            👩‍🎨
    </div>
    <div class="Credentials">
            <form action="/login-confirm" method="post">
            <label>
                Username:
                <input
                        id="username"
                        type="text"
                        name="user"
                        placeholder=" Enter username..."
                />
            </label>

            <label>
                Password:
                <input
                        id="password"
                        type="password"
                        name="passwd"
                        placeholder=" Enter password..."
                />
            </label>

            <button type="submit" onclick="loginUser()"> Login </button>
            </form>
    </div>
    <br>

    <div class="Register-Link">
        <a class="active" href="/register">
            Register
        </a>
    </div>
</div>

</div>
</body>
</html>