<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../App.css"/>
	<title>Home</title>
</head>
<body>
	<div class="LeftAlign">
        <a href="/home">MSPaintr</a>
        <br />
                <a href="/login">Sign in</a>
          <br />
                <a href="/profile">Profile</a>
          <br />
                <a href="/directmessages">DMs</a>
          <br />
          	<a href="/newpost">Add Post</a>
           <br />
          <input type ="text" id="search" />
	      <input type ="submit" value="Search"/>
      <br />
    </div>
	<img src="./profile/profileimages/MSPaintRLogo.png" class="Profile-Logo"/>
	<div class="SubscriptionFeed">
		<div class="Post">
			<p>POSTED BY: ms_artist</p>
			<img class="Post-Image" src="./testimages/testimage.png" alt="Cannot Veiw Image"/>
     		 <br/>
	         <input type ="text" id="user_name" />
	        <input type ="submit" value="Add Comment"/>
		  	<button  class="Profile-Button">⭐</button>
		  	<br>
		  	<a href="SeeMore.html">See More</a>
		</div>
		<div class="Post">
			<p>POSTED BY: plant_queen</p>
			<img class="Post-Image" src="./profile/profileimages/pls i need 22 rp.png" alt="Cannot Veiw Image"/>
     		 <br/>
	         <input type ="text" id="user_name" />
	        <input type ="submit" value="Add Comment"/>
		  	<button  class="Profile-Button">⭐</button>
		  	<br>
		</div>
	</div>
</body>