<head>
	<link rel="stylesheet" type="text/css" href="/App.css"/>
	<title>New Post</title>
  <script src="app.js"></script>
</head>
<body>
	<div class="LeftAlign">
        <a href="/home">MSPaintr</a>
        <br />
                <a href="/login">Sign in</a>
          <br />
                <a href="/profile">Profile</a>
          <br />
                <a href="/directmessages">DMs</a>
          <br />
          	<a href="/newpost">Add Post</a>
           <br />
          <input type ="text" id="search" />
	      <input type ="submit" value="Search"/>
      <br />
  </div>

  <div class="Post">
        <label>
          Add your Image!
        </label>
          <br/>
         <input type="file" id="name" name="name"><br>
        <input type="button" value="Add Image!" onclick="submitPost()">
    </div>
  </div>
</body>