.DirectMessages {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

html {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

#textbox {
  border-radius: 15px;
  width: 90%;
}

.DMsH1 {
  margin: auto;
  color: darkcyan;
  font-size: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;;
}

.DMInput {
  border-radius: 15px;
}

.Chat-Box {
  border: 6px solid white;
  width: 800px;
  height: 545px;
  background-color: beige;
  border-radius: 10px;
  float: left;
}

#messagesdisplay {
  width: 190px;
  background-color: lightblue;
}

.DM-Side-Bar {
  border: 4px solid white;
  border-radius: 15px;
  background-color: aliceblue;
  margin-left: 200px;
  width: 250px;
  height: 550px;
  float: left;
}

.DMLi {
  list-style-type: none;
  color: darkcyan;
  font-size: 20px;
}

ul.messagesList {
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  width: 745px;
  height: 450px;
}

ul.messagesDisplay {
  border-radius: 15px;
  width: 95%;
  height: 500px;
  margin-top: 13px;
  margin-left: 8px;
  background-color: lightblue;
}
