html{
  background-color: #9966ff; 
  
}

.Regristration{
	font-family: "Comic Sans MS", "Comic Sans", 'Chalkboard SE', 'Comic Neue', cursive, sans-serif;
	border: 1px solid white;
  	background-color: white;
  	box-shadow: 3px 3px #969696;
 	padding: 3%;
 	width: 40%;
  	margin-top: 10%;
  	margin-left: 30%;
  	text-align: center;
}

.h1{
	font-family: "Comic Sans MS", "Comic Sans", 'Chalkboard SE', 'Comic Neue', cursive, sans-serif;	
}