<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="Regristration.css"/>
	<title>Registration</title>
    <script src=app.js"></script>
</head>
<body>
	<img src="MSPaintRLogo.png" class="Profile-Logo"/>
	<div class="Regristration">
      <h1 class="Registration-Heading1">Registration</h1>
      <br/>
      <br/>
        <form action="/register-process" method="post">
        <label>
          User Name:
          <input type ="text" id="user_name" name="username" maxlength="19"/>
        </label>
        <br/>
        <br/>
        <label>
          Password:
          <input type="password" id="pass_word" name="password" maxlength="24"/><br>
            Must be at least 8 characters<br>
            Must include at least one number and one uppercase letter
        </label>
        <br/>
        <br/>
        <input type ="submit" value="Register" onclick="registerUser()"/>
        </form>
    </div>
</body>