.Regristration{
	border: 1px solid white;
  	background-color: white;
  	box-shadow: 3px 3px #969696;
 	padding: 3%;
 	width: 40%;
  	margin-top: 10%;
  	margin-left: 30%;
  	text-align: center;
  	border-radius: 15px;
}

.Registration-Heading1{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

html{
    background: #7abaff;
}

.Profile-Logo{
  margin-top: 2%;
  height: 200px;
  width: auto;
  box-shadow: 3px 3px #969696;
  margin-left: 28%;
}